<html>
  <head>
    <title>StudyStock</title>
  </head>
  <body>
    <header>
      <h1>StudyStock</h1>
    </header>
    <main>
      <h2>学習時間をシェアしよう！</h2>
      <h3>studyshareでできること</h3>
      
      {% for post in posts %}
        <div>
          <p>published:{{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      {% endfor %}

    </main>
    <footer>
      <small>&copy 2020 StudyStock Co.,Ltd. All Rights Reserved. </small>
      <p><a href="https://twitter.com/home">Twitter</a></p>
    </footer>
  </body>
</html>